main {
  display: flex;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: row;
  background: #f8f9fa;
}

footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5em 15em;

}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  margin-right: 15em;
}

.enterMessage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.card {
  margin: 0.5em;
}

.btn-primary {
  color: saddlebrown;
  background: antiquewhite;
  border: none;
}

.btn-primary:hover {
  color: antiquewhite;
  background: #db915a;
  border: none;
}
